@using Payxat.Helper
@{
    ViewBag.Title = "Loyalty";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imghome"))">
                <h1>@GR.GetResource("loyaltyLandingTitle")</h1>
                <p>@GR.GetResource("loyaltyLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->
<section>
    <div class="container">
        <h1 class=" text-center centerTitle"> @GR.GetResource("loyaltyFirstTitle") </h1>
    </div>
</section>
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltySecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltySecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="">

            <h1 class="text-center centerTitle"> @GR.GetResource("loyaltyFifthTitle") </h1>
            <h1 class="text-center centerTitle"> @GR.GetResource("loyalty6Title") </h1>
            <h1 class="text-center centerTitle"> @GR.GetResource("loyalty7Title") </h1>

        </div>


    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyalty8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyalty8Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyalty9Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyalty9Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyalty10Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyalty10Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyalty11Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyalty11Desc")
        </p>
    </div>

</section>
<!-- end section -->
