@using Payxat.Helper
@{
    ViewBag.Title = "pricing";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imghome"))">
                <h1>@GR.GetResource("pricingLandingTitle")</h1>
                <p>@GR.GetResource("pricingLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricingSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricingSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing11Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricing11Desc")
        </p>
		<ul class="list">
            <li> 	@GR.GetResource("pricing11ListHeader1") </li>
           
            <li> 		@GR.GetResource("pricing11ListHeader2") </li>
			  <li> 	@GR.GetResource("pricing11ListHeader3") </li>
            
        </ul>
    </div>

</section>
<!-- end section -->
<section>
    <div class="container">
        <h1 class=" text-center centerTitle"> @GR.GetResource("pricingFirstTitle") </h1>
    </div>
</section>


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricingThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricingThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricingFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricingFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricing8Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing15Title") </h1>

        </div>

       
		<ul class="list">
            <li> 	@GR.GetResource("pricing15ListHeader1") </li>
           
            <li> 		@GR.GetResource("pricing15ListHeader2") </li>
			  <li> 	@GR.GetResource("pricing15ListHeader3") </li>
            
        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing9Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricing9Desc")
        </p>
    </div>

</section>
<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing12Title") </h1>

        </div>

       <ul class="list2">
            <li> 	 @GR.GetResource("pricing12ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("pricing12ListDesc1") </p>
             <li> 	 @GR.GetResource("pricing12ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("pricing12ListDesc2") </p>
			 <li> 	 @GR.GetResource("pricing12ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("pricing12ListDesc3") </p>
			 <li> 	 @GR.GetResource("pricing12ListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("pricing12ListDesc4") </p>
        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="">

           
            <h1 class="text-center centerTitle"> @GR.GetResource("pricing6Title") </h1>
          

        </div>

       
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing10Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricing10Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing13Title") </h1>

        </div>

        <ul class="list">
            <li> 	@GR.GetResource("pricing13ListHeader1") </li>
           
            <li> 		@GR.GetResource("pricing13ListHeader2") </li>
			  <li> 	@GR.GetResource("pricing13ListHeader3") </li>
            
        </ul>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("pricing16Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("pricing16Desc")
        </p>
    </div>

</section>
<!-- end section -->

