@using Payxat.Helper
@{
    ViewBag.Title = "howitworks";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imghowitworks"))">
                <h1>@GR.GetResource("howitworksLandingTitle")</h1>
                <p>@GR.GetResource("howitworksLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworksSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworksSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworksThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworksThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworksFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworksFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworks8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworks8Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworks9Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworks9Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("howitworks10Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("howitworks10Desc")
        </p>
    </div>

</section>
<!-- end section -->
