@using Payxat.Helper
@{
    ViewBag.Title = "legal";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legalSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetString("legalSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal11Title") </h1>

        </div>

       
		  <ul class="list2">
            <li> 	 @GR.GetResource("legal11ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("legal11ListDesc1") </p>
             <li> 	 @GR.GetResource("legal11ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("legal11ListDesc2") </p>
			 <li> 	 @GR.GetResource("legal11ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("legal11ListDesc3") </p>
			 <li> 	 @GR.GetResource("legal11ListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("legal11ListDesc4") </p>
			
			<ul class="list notBold">
            <li> 	@GR.GetResource("legal22ListHeader1") </li>
           
            <li> 		@GR.GetResource("legal22ListHeader2") </li>
			  <li> 	@GR.GetResource("legal22ListHeader3") </li>
			    <li> 	@GR.GetResource("legal22ListHeader4") </li>
               <li> 	@GR.GetResource("legal22ListHeader5") </li>
			      <li> 	@GR.GetResource("legal22ListHeader6") </li>
				     <li> 	@GR.GetResource("legal22ListHeader7") </li>
					 
					 
					    <li> 	@GR.GetResource("legal22ListHeader8") </li>
						 <li> 	@GR.GetResource("legal22ListHeader9") </li>
        </ul>
			
			<li> 	 @GR.GetResource("legal11ListHeader5") </li>
            <p class="listPadding"> @GR.GetResource("legal11ListDesc5") </p>
             
        </ul>
        </ul>
    </div>

</section>
<!-- end section -->

<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal12Title") </h1>

        </div>

       
		  <ul class="list2">
            <li> 	 @GR.GetResource("legal12ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("legal12ListDesc1") </p>
             <li> 	 @GR.GetResource("legal12ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("legal12ListDesc2") </p>
			 
             
        </ul>
      
    </div>

</section>
<!-- end section -->




<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal13Title") </h1>

        </div>

       
		  <ul class="list2">
            <li> 	 @GR.GetResource("legal13ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("legal13ListDesc1") </p>
             <li> 	 @GR.GetResource("legal13ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("legal13ListDesc2") </p>
			 
             <li> 	 @GR.GetResource("legal13ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("legal13ListDesc3") </p>
             <li> 	 @GR.GetResource("legal13ListHeader4") </li>
            <p class="listPadding"> @GR.GetString("legal13ListDesc4") </p>
			 
        </ul>
		
		
      
    </div>

</section>
<!-- end section -->




<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legalThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetString("legalThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legalFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legalFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal8Desc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal9Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal9Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal4Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal4Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal6Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal6Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal16Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal16Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal17Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal17Desc")
        </p>
    </div>

</section>
<!-- end section -->


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("legal18Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("legal18Desc")
        </p>
    </div>

</section>
<!-- end section -->



<!-- Modal -->
@using (Html.BeginForm("AddProjectC", "Default", FormMethod.Post, new { @id = "contactform" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@GR.GetResource("contactmodalTitle")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <input type="hidden" name="c_Date" value="@DateTime.Now" class="form-control"  />
                    <label>@GR.GetResource("contactmodalLabelName")</label>
                    <input type="text" name="c_Name" class="form-control" required placeholder="@GR.GetResource("contactmodalName")" />
                    <label>@GR.GetResource("contactmodalLabelPhone")</label>
                    <input type="tel" name="c_Phone" class="form-control" required placeholder="@GR.GetResource("contactmodalPhone")" />
                    <label>@GR.GetResource("contactmodalLabelEmail")</label>
                    <input type="email" name="c_Email" class="form-control" required placeholder="@GR.GetResource("contactmodalEmail")" />
                    <label>@GR.GetResource("contactmodalLabelMessage")</label>
                    <textarea name="c_Message" rows="3" class="form-control" required placeholder="@GR.GetResource("contactmodalMessage")" > </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> @GR.GetResource("contactmodalbuttonClose")</button>
                    <button type="submit" class="btn btn-primary "> @GR.GetResource("contactmodalbuttonSend")<i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
}