@using Payxat.Helper
@{
    ViewBag.Title = "lovelocalnetwork";
    Layout = "~/Views/Shared/_Master.cshtml";
}




<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imglovelocalnetwork"))">
                <h1>@GR.GetResource("lovelocalnetworkLandingTitle")</h1>
                <p>@GR.GetResource("lovelocalnetworkLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->

<section>
    <div class="container">
        <p class="sectionDesc">
            @GR.GetResource("lovelocalnetworkFirstDesc")
        </p>
        <h1 class=" text-center centerTitle"> @GR.GetResource("lovelocalnetworkFirstTitle") </h1>

    </div>
</section>
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("lovelocalnetworkSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("lovelocalnetworkSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("lovelocalnetworkThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("lovelocalnetworkThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("lovelocalnetworkFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("lovelocalnetworkFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("lovelocalnetwork8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("lovelocalnetwork8Desc")
        </p>
    </div>

</section>
<!-- end section -->
