@using Payxat.Helper
@{
    ViewBag.Title = "loyaltyretention";
    Layout = "~/Views/Shared/_Master.cshtml";
}




<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imghome"))">
                <h1>@GR.GetResource("loyaltyretentionLandingTitle")</h1>
                <p>@GR.GetResource("loyaltyretentionLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretentionSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyretentionSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretention11Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyretention11Desc")
        </p>
        <ul class="list2">
            <li> 	 @GR.GetResource("loyaltyretention11ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("loyaltyretention11ListDesc1") </p>
            <li> 	 @GR.GetResource("loyaltyretention11ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("loyaltyretention11ListDesc2") </p>
            <li> 	 @GR.GetResource("loyaltyretention11ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("loyaltyretention11ListDesc3") </p>

        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretention12Title") </h1>

        </div>


        <ul class="list2">
            <li> 	 @GR.GetResource("loyaltyretention12ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("loyaltyretention12ListDesc1") </p>
            <li> 	 @GR.GetResource("loyaltyretention12ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("loyaltyretention12ListDesc2") </p>


        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretentionThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyretentionThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretentionFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyretentionFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("loyaltyretention8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("loyaltyretention8Desc")
        </p>
    </div>

</section>
<!-- end section -->
