@using Payxat.Helper
@{
    ViewBag.Title = "marketingautomation";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imgmarketingautomation"))">
                <h1>@GR.GetResource("marketingautomationLandingTitle")</h1>
                <p>@GR.GetResource("marketingautomationLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->

<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("marketingautomationSecondTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("marketingautomationSecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("marketingautomation3Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("marketingautomation3Desc")
        </p>
        <ul class="list2">
            <li> 	 @GR.GetResource("marketingautomation3ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc1") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc2") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc3") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc4") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader5") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc5") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader6") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc6") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader7") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc7") </p>
            <li> 	 @GR.GetResource("marketingautomation3ListHeader8") </li>
            <p class="listPadding"> @GR.GetResource("marketingautomation3ListDesc8") </p>


        </ul>
    </div>

</section>
<!-- end section -->