@using Payxat.Helper
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section>
    <div class="container">
        <h1 class=" text-center centerTitle"> @GR.GetResource("PrivacyFirstTitle") </h1>
    </div>
</section>
<!-- start section -->
<section>
    <div class="container">
        

        <p class="sectionDesc">
            @GR.GetString("PrivacySecondDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("PrivacyThirdTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("PrivacyThirdDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("PrivacyFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("PrivacyFourthDesc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy5Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy5Desc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy8Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy8Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy9Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy9Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy10Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy10Desc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("privacy20Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("privacy20Desc")
        </p>
		 <ul class="list2">
            <li> 	 @GR.GetResource("privacy20ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc1") </p>
             <li> 	 @GR.GetResource("privacy20ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc2") </p>
			 <li> 	 @GR.GetResource("privacy20ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc3") </p>
			<li> 	 @GR.GetResource("privacy20ListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc4") </p>
             <li> 	 @GR.GetResource("privacy20ListHeader5") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc5") </p>
			 <li> 	 @GR.GetResource("privacy20ListHeader6") </li>
            <p class="listPadding"> @GR.GetResource("privacy20ListDesc6") </p>
			
        </ul>
    </div>

</section>
<!-- end section -->


<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy11Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy11Desc")
        </p>
    </div>

</section>
<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy12Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy12Desc")
        </p>
    </div>

</section>
<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy13Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy13Desc")
        </p>
    </div>

</section>
<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy14Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy14Desc")
        </p>
    </div>

</section>
<!-- end section -->

<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy15Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy15Desc")
        </p>
    </div>

</section>
<!-- end section -->
<!-- end section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Privacy16Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Privacy16Desc")
        </p>
    </div>

</section>
<!-- end section -->



