@using Payxat.Helper
@{
    ViewBag.Title = "products";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imghome"))">
                <h1>@GR.GetResource("productsLandingTitle")</h1>
                <p>@GR.GetResource("productsLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">
            <h1 class="text-center centerTitle"> @GR.GetResource("products1Title") </h1>


        </div>


    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("products11Title") </h1>

        </div>


        <ul class="list">
            <li> 	@GR.GetResource("products11ListHeader1") </li>

            <li> 		@GR.GetResource("products11ListHeader2") </li>
            <li> 	@GR.GetResource("products11ListHeader3") </li>

        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">
            <h1 class="text-center centerTitle"> @GR.GetResource("products2Title") </h1>


        </div>


    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("products3Title") </h1>

        </div>


        <ul class="list">
            <li> 	@GR.GetResource("products3ListHeader1") </li>

            <li> 		@GR.GetResource("products31ListHeader2") </li>


        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">
            <h1 class="text-center centerTitle"> @GR.GetResource("products4Title") </h1>


        </div>


    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("products5Title") </h1>

        </div>


        <ul class="list">
            <li> 	@GR.GetResource("products5ListHeader1") </li>

            <li> 		@GR.GetResource("products5ListHeader2") </li>


        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">
            <h1 class="text-center centerTitle"> @GR.GetResource("products6Title") </h1>


        </div>


    </div>

</section>
<!-- end section -->




<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("products12Title") </h1>

        </div>

        <ul class="list2">
            <li> 	 @GR.GetResource("products12ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("products12ListDesc1") </p>
            <li> 	 @GR.GetResource("products12ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("products12ListDesc2") </p>
            <li> 	 @GR.GetResource("products12ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("products12ListDesc3") </p>

        </ul>
    </div>

</section>



<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("products13Title") </h1>
        </div>
        <p class="sectionDesc">
            @GR.GetResource("products13Desc")
        </p>


        <ul class="list2">
            <li> 	 @GR.GetResource("products13ListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("products13ListDesc1") </p>
            <li> 	 @GR.GetResource("products13ListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("products13ListDesc2") </p>
            <li> 	 @GR.GetResource("products13ListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("products13ListDesc3") </p>
            <li> 	 @GR.GetResource("products13ListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("products13ListDesc4") </p>

        </ul>
    </div>
    </div>
</section>




