@using Payxat.Helper
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="landing">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(@GR.GetResource("imgpromotions"))">
                <h1>@GR.GetResource("PromotionLandingTitle")</h1>
                <p>@GR.GetResource("PromotionLandingDesc")</p>

            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>
<!-- end landing -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("PromotionFourthTitle") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("PromotionFourthDesc")
        </p>
        <ul class="list2">
            <li> 	 @GR.GetResource("PromotionFourthListHeader1") </li>
            <p class="listPadding"> @GR.GetResource("PromotionFourthListDesc1") </p>
            <li> 	 @GR.GetResource("PromotionFourthListHeader2") </li>
            <p class="listPadding"> @GR.GetResource("PromotionFourthListDesc2") </p>
            <li> 	 @GR.GetResource("PromotionFourthListHeader3") </li>
            <p class="listPadding"> @GR.GetResource("PromotionFourthListDesc3") </p>
            <li> 	 @GR.GetResource("PromotionFourthListHeader4") </li>
            <p class="listPadding"> @GR.GetResource("PromotionFourthListDesc4") </p>


        </ul>
    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Promotion5Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Promotion5Desc")
        </p>

    </div>

</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Promotion6Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Promotion6Desc")
        </p>


</section>
<!-- end section -->
<!-- start section -->
<section>
    <div class="container">
        <div class="sectionHeader">

            <h1 class="sectionTitle"> @GR.GetResource("Promotion7Title") </h1>

        </div>

        <p class="sectionDesc">
            @GR.GetResource("Promotion7Desc")
        </p>

    </div>

</section>
<!-- end section -->
