@model Payxat.Models.CMS.vmEditResources
@{
    ViewBag.Title = "EditResources";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />



<link rel="stylesheet" href="~/MyLayout/Admin/css/style.css" />
<link rel="stylesheet" href="~/MyLayout/Admin/vendor/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome CSS-->
<link rel="stylesheet" href="~/MyLayout/Admin/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/MyLayout/Admin/css/style.default.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Date Table</h3>
                    </div>

                    <div class="card-body">
                        @*<div class="form-group row">
                                <label class="col-sm-1 form-control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" id="NameSearch"  class="form-control ml">
                                    <small class="form-text maincolor ml">You can search by name.</small>
                                </div>
                            </div>*@



                        <div class="form-group row">
                            <div class="col-sm-3">
                                <button class="btn btn-primary  new-record">Add New</button>
                            </div>
                        </div>

                        <form action="@(Url.Action("AddResource", "CMS", new object { }))">
                            <div class="form-group row">
                                <label class="col-sm-1 form-control-label lbl-new-input">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" id="addedResourceKey" name="addedResourceKey" class="form-control new-input " required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 form-control-label lbl-new-input">Value</label>
                                <div class="col-sm-6">
                                    <input type="text" id="addedResourceValue" name="addedResourceValue" class="form-control new-input " required>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <input type="submit" class="table-btn save" value="Save" />
                            </div>

                        </form>



                        <table id="example" class="display" style="width:100%">
                            <thead>

                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th>Edit Resource</th>
                                </tr>
                            </thead>
                            <tbody class="append">

                                @foreach (var rItm in Model.resourceItems)
                                {
                                    <tr>
                                        <td><label id="lblresourceKey">@rItm.key</label></td>
                                        <td>
                                            <label id="lblResourceValue" class="table-lable-value">@rItm.value</label>
                                            <input id="resourceValue" type="text" class="table-input form-control table-input-value" value="@rItm.value" style="display:none;" required/>
                                        </td>

                                        <td>
                                            <p>
                                                <a id="btn_delete" class="float-right btn_delete"><i class="fas fa-trash-alt item-delete-rel "></i></a>
                                                <a id="btn_edit" class="float-right btn_edit"><i class="far fa-edit item-delete-rel purple"></i></a>
                                                <a id="btn_cancelEdit" class="float-right btn_cancelEdit" style="display:none"><i class="fas fa-times cancel-edit"></i></a>
                                                <a id="btn_saveChanges" class="float-right btn_saveChanges" style="display:none"><i class="fas fa-check save-edit"></i></a>
                                            </p>

                                            @*<button class="table-btn edit-btn">Edit</button>
                                                <button onclick="deleteResource('@rItm.key');" class="table-btn delete-btn">Delete</button>
                                                <button class="table-btn cancel-btn"></button>*@

                                        </td>

                                    </tr>
                                }

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <form method="post" id="UpdateResource" action="@(Url.Action("UpdateReource","CMS",new object { }))" hidden>
        <input name="language" value="@Model.language" />
        <input id="updateResourceKey" name="ResourceKey" />
        <input id="updateResourceValue" name="ResourceValue" />
    </form>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "lengthMenu": [[20, 50, 100, -1], [20,50,100, "All"]],
            "columnDefs": [
                { "searchable": true, "targets": 0 },
                { "searchable": true, "targets": 1 },
                { "searchable": false, "targets": 2 }
            ]
        });

        var table = $('#example').DataTable();
    });



    $(".new-record").click(function () {
        $(".new-input , .lbl-new-input , .save").show();
        $(this).hide();
    });

    $(".btn_edit").click(function () {
        setEditRow($(this).parent().closest("tr"), true)
    });

    $(".btn_cancelEdit").click(function () {
        setEditRow ($(this).parent().closest("tr"),false)
    });

    $(".btn_delete").click(function () {
        if (confirm('Do you whant to delete this resource?')) {
            key = $(this).parent().closest("tr").find("#lblresourceKey").text();
            window.location = "@Url.Action("RemoveResource", "CMS")" + "/" + key;
        }
    });

    $(".btn_saveChanges").click(function () {
        key = $(this).parent().closest("tr").find("#lblresourceKey").text();
        valu = $(this).parent().closest("tr").find("#resourceValue").val();
        $("#updateResourceKey").val(key);
        $("#updateResourceValue").val(valu);
        $("#UpdateResource").submit();
    });

    function setEditRow($row, applyEdit)
    {
        if (applyEdit == true)
        {
            $row.find("#btn_delete").hide();
            $row.find("#btn_edit").hide();
            $row.find("#btn_saveChanges").show();
            $row.find("#btn_cancelEdit").show();

            $row.find(".table-lable-value").hide();
            $row.find(".table-input-value").show();

            $row.find(".table-input-value").val($row.find(".table-lable-value").text());
        }
        else
        {
            $row.find("#btn_delete").show();
            $row.find("#btn_edit").show();
            $row.find("#btn_saveChanges").hide();
            $row.find("#btn_cancelEdit").hide();

            $row.find(".table-lable-value").show();
            $row.find(".table-input-value").hide();
        }
    }



</script>